# Entornos virtuales
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Modelos y datos pesados (no subir a Git)
models/*.pt
models/*.onnx
data/imagenes_dron/*
outputs/detecciones/*
!**/.gitkeep

# Notebooks
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
